{% extends 'home.html' %}

{% block content %}
<section class="contact_section layout_padding">
	<div class="container ">
	  <div class="heading_container">
	    <h2 class="">
		Contact Us
	    </h2>
	  </div>
  
	</div>
	<div class="container">
	  <div class="row">
	    <div class="col-md-6">
		<form action="" method="post">
		  {% csrf_token %}
		  <div>
		    <input type="text" placeholder="Name" name="nombre" />
		  </div>
		  <div>
		    <input type="email" placeholder="Email" name="correo" />
		  </div>
		  <div>
		    <input type="text" placeholder="Phone" name="telf"/>
		  </div>
		  <div>
		    <input type="text" class="message-box" placeholder="Message"  name="mensaje"/>
		  </div>
		  <div class="d-flex ">
			  <input type="submit" value="Send">
		  </div>
		</form>
	    </div>
	    <div class="col-md-6">
		<div class="map_container">
		  <div class="map-responsive">
			  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7462833638438!2d-2.173188300000022!3d43.27769090000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51afde26e1a683%3A0x70eea8ebabd76684!2sEKIONA%20Iluminaci%C3%B3n%20Solar!5e0!3m2!1ses!2ses!4v1718092592411!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		  </div>
		</div>
	    </div>
	  </div>
	</div>
    </section>
{% endblock %}